{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block sidebar %}
	Data browser<br>
	<div class="btn-group-vertical">	
		<a class="btn btn-primary" href="{{ redir }}"><<</a>
	</div>

{% endblock %}



{% block mybody %}
	<h3>{{ title }}</h3>
	<div class="form-group row">
	  {{ form(form) }}
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}