{% include 'view/templates/bare_table.html.twig'%}

<div class="panel panel-heading"><span class="caption">(#)</span><a id="addLink" class="btn btn-primary btn-sm pull-right" href="/dataeditor/edit/{{ domain }}/{{ metaType }}">Add</a></div>