{% extends 'base.html.twig' %}

{% block sidebar %}
	Main Menu
	<br>
	<div class="btn-group-vertical">
		<a class="btn btn-primary" href="/databrowser">Data Browser</a>
		</a>		
	</div>
	<br>
	<script>
				{% include 'snippets/showView.html' %}
	</script>
{% endblock %}

{% block mybody %}
	{% include 'default/pocinfo.html' %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
