	This prototype shows:<br>
	<br>
	<b>Low-code architecture</b><br>
	The application structure is intended for low-code.<br>
	Out-of-the-box, you can use the website to create datatypes and data.<br>
	This means the application is data-independent! And it needs to stay that way in order to keep it low-code.<br>
	The intention is to keep the code as data-independent as possible. (Of course, the exception are the meta-data that enable this low-code architecture)<br>
	<br>
	With add-ons, you can add your own functionality to it.<br>
	When well-written, the add-ons fit in the low-code architecture. How?<br>
	The code will contain: <br>
	- meta-level handling of functionality.<br>
	- the meta-types (and -data) that support this functionality<br>
	<br>
	<br>
	<b>Views</b><br>
	This addon delivers functionality to view data. It  enables you to create custom queries and views for any datatype.<br>
	Yes, it's rudimentary. A 'query builder' is still needed to abstract the neo4j-query part.<br>
	<br>
	<br>