{% extends 'base.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block mybody %}
	<div class="row">
		<div id="leftpanel" class="col-md-5 rpadding">
			<div class="panel panel-default">
				<form name="Respondent" method="SUBMIT">
					<div class="well">
						<br>
						Please enter your name
						<div class="input-group">
							<span class="input-group-addon" for="RespondentName">Name</span>
							<input type="text" id="RespondentName" name="RespondentName" required pattern="[A-Za-z0-9]{1,20}" class="form-control" value="">
						</div>
						<p id="inputmsg"></p>
						<label type="submit" class="btn btn-primary" name="RespondentSubmitButton" id="RespondentSubmit" onclick="validateForm()">
										Submit
									</label>
					</div>
				</form>
			</div>			
			<div><br></div>
			<div role="navigation" id="RespondentInfoHeader" class="panel-heading"  onClick="panelClick('left')">
				<strong>Respondent information</strong>
			</div>
			<div class="panel panel-default">
				<div class="well">
					<div id="RespondentInformation" class="panel panel-default noborder">
					
					</div>				
				</div>
			</div>		

			<div role="navigation" id="RespondentInfoHeader" class="panel-heading"  onClick="panelClick('left')">
				<strong>Respondent answers given so far</strong>
			</div>					
			<div class="panel panel-default">
				<div class="well">
					<div id="Prev" class="panel panel-default noborder">
					</div>
				</div>
			</div>	
		</div>	
		<div id="rightpanel" class="col-md-3 rpadding">
			<div class="panel panel-default"  onClick="panelClick('right')">
				<div id="NextQuestion" class="panel panel-default noborder">
					test
				</div>	
			</div>
		</div>	
	</div>

	
    <script>
	
		function validateForm() {
		  var inpObj = document.forms["Respondent"]["RespondentName"];
		  if (!inpObj.checkValidity()) {
			document.getElementById("inputmsg").innerHTML = inpObj.validationMessage;
			return false;
		  } else
		  {
			// Disable the button
			document.getElementById("RespondentSubmit").remove();
			document.forms["Respondent"]["RespondentName"].disabled=true;
			
		    // get respondent information (if any)
			$.get('/j_getRespondentInfo/'+inpObj.value+'/{{instanceID}}',
                    function (data) {	
						console.log(data);
                        if (!data || data.length == 0) {
							document.getElementById("RespondentInformation").innerHTML = '<p>Sorry, we could not find your name in our database.</p>';
							return;
						}
						console.log(data);
						// Paste it in RespondentInformation div
						var welcometext = 'Welcome, '+data[0]['RespondentName']+'. <br><br>You are about to answer a Questionnaire.<br>';
						if (data[0]['Answer'] == null)
						{
							welcometext = welcometext+'We see that you have not answered any questions yet. So lets started right away!<br>';
						}
						else
						{
							if (data[data.length-1]['Answer'] != null)
							{
								welcometext = welcometext+'<br>... or are you?!?!<br>   You have already answered all the questions, so you are done!<br>'
							}
							else{
								welcometext = welcometext+'We see that you have already answered some questions. So lets finish it!<br>'
							}
						}

						var toData = $("div#Prev");
						var first = true;
						$.each(data, function (key, item) {
							if (item['Answer'] != null)
							{
								toData.append('Question '+(key+1)+'<br>'+item['Question']+' - '+item['Answer']+'<br><br>');	
							}
						});
						
						
						welcometext = welcometext+'<br>Your ID is: '+data[0]['RespondentID']+'<br>'
						document.getElementById("RespondentInformation").innerHTML = '<p>'+welcometext+'</p>';
						
						// show (next) question
						getNextQuestion('NextQuestion',data[0]['RespondentID'],'{{instanceID}}');
						
                    }, "json");			
		    }
		}
	
			{% include 'snippets/panelclick.html' %}
	
			{% include 'question/getNextQuestion.html' %}
			
			{% include 'snippets/windowOnLoad.Entity.html' %}
    </script>	


{% endblock %}
