<!DOCTYPE html>
				{% if subtit is defined %}
					{% set subtitle=subtit %}
				{% else %}
					{% set subtitle="" %}
				{% endif %}
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}		
		{% endblock %}
		<link rel="stylesheet" href="/css/sidebar.css">
		<link rel="stylesheet" href="/css/main.css">	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="total">
		<div role="navigation" class="navbar navbar-default navbar-static-top">
			<div>
				<div class="row">
					<div class="navbar-header col-sm-6 col-md-6">
						<div class="logo-well">
							<a href='/'>
								<!--<img src="/images/meesterbitcoin/beeldmerk.svg" alt="MeesterBitcoin" id="logo">-->
								<img src="/images/infonotion/logo40.png" alt="InfoNotion" id="logo">
							</a>
						</div>
						<div class="navbar-brand">
							<a class="brand" href="/"><b>InfoNotion PoC - {{ subtitle }}</b></a>
						</div>
					</div>	
						<div class="pad8">
							<div class="btn-group pull-right" id="User_ID" data-toggle="buttons">
								<label class="btn btn-secondary disabled">
									<input type="radio" name="options" id="option0"> User
								  </label>
								<label class="btn btn-primary active" id="User5c1a0da6efddd6.58721999" >
									<input type="radio" name="options" autocomplete="off" checked> Ad
								  </label>
								  <label class="btn btn-primary" id="User5c1a0dc26b4ea3.19521585" >
									<input type="radio" name="options" autocomplete="off" > Barry
								  </label>
								  <label class="btn btn-primary" id="User5c1a0dee3f5d19.83326476" >
									<input type="radio" name="options" autocomplete="off" > Cindy
								  </label>
								  <label class="btn btn-primary" id="User5c1a0e1145d262.56957550" >
									<input type="radio" name="options" autocomplete="off" > Denise
								  </label>
								  <label class="btn btn-primary" id="User5c1a072c36fba3.74766979" >
									<input type="radio" name="options" autocomplete="off" > NewsBot
								  </label>
							</div>
						
						</div>
				</div>
			</div>
		</div>
        <!-- Page Content -->
		<div id="sidebar" class="sidebar">
			<div class="well">
				{% block sidebar %}{% endblock %}
			</div>
		</div>		
		<div id="main" class= "main">
			 <div class="well">
				{% block mybody %}{% endblock %}
			 </div>   
		</div>				
        {% block javascripts %}
		{% endblock %}
		</div>		
    </body>
</html>
